* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Montserrat", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

:root {
  --background-color: #ffffff;
  --default-color: #222222;
  --heading-color: #172a28;
  --accent-color: #008374;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  scroll-behavior: smooth;
  --nav-color: #ffffff;
  --nav-hover-color: #008374;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #01433c;
  --nav-dropdown-hover-color: #008374;
  --background: #060606;
  --color: #f2f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}
.padd-5 {
  padding: 3rem 5rem;
}
.padd-10 {
  padding: 2rem 10rem;
}
.mag-2 {
  margin: 2rem auto;
}
.mag-5 {
  margin: 5rem auto;
}
.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  position: relative;
  font-family: var(--heading-font);
  font-size: 3rem;
  color: var(--heading-color);
  margin-bottom: 1rem;
  transition: all 0.7s;
}
.title::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 3px;
  background-color: var(--accent-color);
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1rem;
}
.sub {
  font-size: 18px;
  text-align: center;
}

/* NAV SECTION START  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
}
.sticky .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 32px 12px rgb(0, 0, 0, 0.1);
  transition: all 0.5s;
  background-color: color-mix(
    in srgb,
    var(--accent-color) 95%,
    transparent 20%
  );
  z-index: 99999;
}
.logo {
  font-size: 25px;
  color: var(--background-color);
}
.navInput {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.navs {
  font-size: 16px;
  font-family: var(--heading-font);
  color: var(--background-color);
  text-decoration: none;
  transition: 0.3s;
}
.navs:hover {
  color: var(--background-color);
}
.navBtnBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn:link,
.btn:visited {
  font-size: 16px;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #1a9082;
  border-radius: 5rem;
  border: 1px solid #76bcb4;
  font-family: var(--heading-font);
  color: var(--background-color);
}
.btn:hover,
.btn:active {
  border: 2px solid color-mix(in srgb, var(--accent-color) 100%, white 80%);
}

.navToggle {
  display: none;
}
.mini-nav {
  padding: 2rem 1rem;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--background-color);
  background-color: color-mix(
    in srgb,
    var(--accent-color) 95%,
    transparent 20%
  );
  box-shadow: 0px 0px 32px 12px rgb(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.mini-navs {
  padding-left: 10rem;
  color: color-mix(in srgb, var(--color) 90%, transparent 20%);
  font-weight: 600;
}
.view {
  font-family: var(--heading-font);
  color: var(--background-color);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

/* HERO SECTION START  */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
  background-color: var(--accent-color);
  height: 95vh;
  scroll-margin-top: 8rem;
}
.hero-content {
  display: flex;
  padding-top: 10rem;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
}
.heroTitle {
  color: var(--background-color);
  font-size: 4rem;
  width: 100%;
  margin-bottom: 2rem;
}
.heroSub {
  color: color-mix(in srgb, var(--background-color) 50%, transparent 40%);
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.heroBox {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.heroPlayBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.heroIcon {
  font-size: 5rem;
  color: var(--background-color);
}
.heroPlayText {
  font-size: 2rem;
  color: var(--background-color);
}
.heroImg {
  width: 45rem;
}

.hero-container {
  /* padding: 0 12rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  position: absolute;
  bottom: -12rem;
  width: 100%;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding: 7rem 5rem;
  background-color: color-mix(in srgb, var(--accent-color) 100%, white 3%);
  box-shadow: 0px 0px 40px 0px
    color-mix(in srgb, var(--accent-color) 90%, transparent 50%);
  border-radius: 1rem;
  color: var(--color);
}

.hero-icon {
  font-size: 4rem;
  color: color-mix(in srgb, var(--color) 100%, black 10%);
}

.hero-title {
  text-align: center;
  font-family: var(--heading-font);
  color: color-mix(in srgb, var(--color) 100%, black 15%);
  font-weight: 600;
  font-size: 2.2rem;
}

.about {
  background-color: var(--background-color);
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
  gap: 5rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.text {
  font-size: 1.6rem;
  font-family: var(--default-font);
  color: var(--default-color);
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: center; */
  gap: 5rem;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.aboutus {
  font-size: 2.7rem;
  font-family: var(--heading-font);
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.about-img {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.aboutus-text {
  width: 100%;
  font-size: 15.5px;
  font-family: var(--default-font);
  line-height: 1.6;
  margin-bottom: 2rem;
}

.abtus-text {
  font-size: 1.7rem;
  font-style: italic;
  color: color-mix(in srgb, var(--default-color) 100%, transparent 40%);
  font-family: var(--default-font);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.abt-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.abt {
  display: flex;
  gap: 5px;
}

.abt-text {
  font-size: 1.7rem;
  font-family: var(--default-font);
}
.abt-txt {
  font-size: 1.7rem;
  font-family: var(--default-font);
  margin-bottom: 2rem;
}

/* Pulsating Play Button
------------------------------*/
.pulsating-play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(
    var(--accent-color) 50%,
    color-mix(in srgb, var(--accent-color), transparent 75%) 52%
  );
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  bottom: 26rem;
  left: 22rem;
}

.pulsating-play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-play-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.pulsating-play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.pulsating-play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.pulsating-play-btn:hover:after {
  border-left: 15px solid var(--accent-color);
  transform: scale(20);
}

@keyframes pulsate-play-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.clients {
  padding: 2rem 0;
  display: flex;
  overflow: hidden;
  width: 90%;
  margin: auto;
}
.clientBox {
  white-space: nowrap;
  animation: 25s slide linear infinite;
}
.client {
  height: 3rem;
  margin: 0 5rem;
}
@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.stats {
  display: flex;
  flex-direction: column;
}
.stats-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}
.stats-img {
  width: 100%;
}
.stats-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.happy {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}
.happy-icon {
  font-size: 4rem;
  color: var(--accent-color);
}
.happy-box {
  display: flex;
  flex-direction: column;
}
.happy-title {
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--heading-font);
}
.happy-text {
  font-size: 1.7rem;
  color: color-mix(in srgb, var(--default-color) 95%, transparent 30%);
}
.happy-txt {
  font-weight: 600;
  color: color-mix(in srgb, var(--default-color) 95%, transparent 30%);
}

.cta {
  background-image: url(img/cta-bg.jpg);
  width: 100%;
  height: 70vh;
  border-radius: 2rem;
  background-size: cover;
  background-attachment: fixed;
}
.ctaBoxe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 70vh;
  border-radius: 2rem;
  background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.ctaTitle {
  color: var(--background-color);
  font-size: 25px;
  text-align: center;
  margin-bottom: 3rem;
}
.ctaText {
  font-family: var(--default-font);
  font-size: 18px;
  line-height: 2.4rem;
  color: var(--background-color);
}
.ctaLink:link,
.ctaLink:visited {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--background-color);
  padding: 1.5rem 4rem;
  font-family: var(--default-font);
  border-radius: 0.5rem;
  font-size: 16px;
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.3s;
}
.ctaLink:hover,
.ctaLink:visited {
  background-color: var(--accent-color);
  border: none;
  border-style: hidden hidden;
}

/* SERVICE SECTION START  */
.service {
  background-color: color-mix(in srgb, whitesmoke 100%, transparent 10%);
  scroll-margin-top: 8rem;
}
.serviceInfoBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 3rem;
}
.serviceInfo {
  background-color: var(--background-color);
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all ease-in 0.4s;
}
.serviceIcon {
  font-size: 40px;
  color: var(--accent-color);
  margin-bottom: 3rem;
  position: relative;
  transition: all ease-in 0.4s;
}
.serviceIcon::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-color: whitesmoke;
  opacity: 0.9;
  transition: all 0.4s;
}

.serviceInfo:hover .serviceIcon::before {
  opacity: 0.7;
  background-color: #008374;
}
.serviceTitle {
  font-size: 2rem;
  color: var(--heading-color);
  font-weight: 600;
  text-decoration: none;
  padding: 0.3rem 0;
  width: max-content;
  border-bottom: 4px solid whitesmoke;
}

.serviceInfoBox .serviceInfo:hover:after {
  opacity: 0.7;
  background-color: #008374;
}
.serviceText {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 200;
  color: gray;
  margin-bottom: 1rem;
}
.serviceInfo:hover .serviceTitle {
  border-bottom: 4px solid var(--accent-color);
  color: var(--accent-color);
}
.serviceInfo:hover .service-btn {
  color: var(--accent-color);
}
.serviceInfo:hover {
  transform: translateY(-2%);
}

.service-btn {
  font-size: 15px;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.808);
}
.teamImg {
  width: 100%;
}

/* TESTIMONAIL SECTION START  */
.testimonial {
  background-color: whitesmoke;
  height: 100dvh;
}

swiper-container {
  width: 100%;
  height: 70dvh;
}

swiper-slide {
  margin-top: 2rem;
  text-align: center;
  font-size: 18px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.slider {
  background-color: var(--background-color);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  transition: 0.4s;
}
.slideImg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.slideName {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.sliderRole {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.starBox {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 3px;
  color: gold;
  font-size: 2rem;
}
.slideArticle {
  font-size: 18px;
  font-style: italic;
  text-align: left;
}
.sky {
  color: var(--accent-color);
}
.swiper-pagination-bullet {
  background-color: var(--accent-color);
  color: #008374;
}

/* TEAM STAT */
.team {
  scroll-margin-top: 8rem;
}
.team-img-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  border-radius: 1rem;
  padding-top: 3rem;
}
.team-box {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.team-img {
  width: 100%;
  border-radius: 1rem;
}
.team-title {
  padding: 2rem 0 0 0;
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
}
.team-role {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: color-mix(in srgb, var(--color) 100%, black 75%);
  padding: 1rem 0 2rem 0;
}
.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.team-link {
  text-decoration: none;
}
.team-nav {
  border: 2px solid color-mix(in srgb, var(--color) 100%, black 25%);
  border-radius: 50%;
  padding: 1rem;
  color: color-mix(in srgb, var(--color) 100%, black 25%);
  font-size: 2rem;
  transition: all 0.5s;
}
.team-nav:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/* PRICING STAT */
/* PRICING  */

.pricing {
  background-color: whitesmoke;
  scroll-margin-top: 8rem;
}

.pricing-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pricing-list-box {
  margin: 1rem auto;
  /* text-align: center; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  padding: 5rem 3rem;
  border-top: 3px solid rgb(192, 206, 221);
  border-radius: 15px;
}

.pricing-list-box-1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  padding: 5rem 3rem;
  border-top: 3px solid var(--accent-color);
  border-radius: 15px;
  margin-right: 1.2rem;
}

.pricing-price {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 1rem;
}
.pricing-cost {
  font-size: 45px;
  color: var(--accent-color);
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
}
sub {
  font-size: 18px;
  color: var(--default-color);
  position: absolute;
  bottom: 1rem;
}

.pricing-text-box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.pricing-text-box-1 {
  display: flex;
  text-decoration: line-through;
  color: gray;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
}

.pricing-icon {
  font-size: 20px;
  color: var(--accent-color);
}

.pricing-icon-1 {
  font-size: 20px;
  color: gray;
}

.pricing-text {
  font-size: 16px;
}

.pp-btn {
  padding-top: 2rem;
  text-align: center;
}
.pp-btn-1 {
  padding-top: 2rem;
  text-align: center;
}
.pricing-btn {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--accent-color);
  text-decoration: none;
  border: 1px solid var(--color);
  margin-top: 1rem;
  transition: all 0.4s;
}

.pricing-btn:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
}

.pricing-btn-1 {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--background-color);
  margin-top: 3rem;
}
.price-icon {
  font-size: 5rem;
  display: flex;
  border-radius: 50%;
  margin: 0 auto;
  color: var(--background-color);
  padding: 1rem;
}
.icons-box {
  margin: 30px auto 20px auto;
  width: 70px;
  height: 70px;
  background: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform-style: preserve-3d;
}
.icons-box::before {
  position: absolute;
  content: "";
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background: color-mix(in srgb, var(--accent-color), transparent 80%);
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.icons-box::after {
  position: absolute;
  content: "";
  height: 102px;
  width: 102px;
  border-radius: 50%;
  background: color-mix(in srgb, var(--accent-color), transparent 90%);
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-2px);
}

.icons-box ion-icon {
  font-size: 4rem;
  color: var(--background-color);
}
.box2 {
  border: 5px solid var(--accent-color);
  z-index: 10;
}

/* FAQ SECTIO START  */
.faq {
  background-color: whitesmoke;
  scroll-margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
}
.faqT {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 400;
}
.faqS {
  font-weight: 700;
}

/* CONTACT SECTION START  */
.contact {
  scroll-margin-top: 8rem;
}
.contact-box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
}

.contact-address {
  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--accent-color);
  border-bottom: 3px solid var(--accent-color);
  padding: 3rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  border-radius: 5px;
}
.map {
  width: 100%;
  height: 30vh;
}
.contact-address-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.contact-address-box .contact-icon:hover {
  color: var(--accent-color);
  background-color: #9ab3dd;
}

.contact-icon {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  color: var(--accent-color);
  background-color: #b3ddf4;
}

.contact-name {
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-article {
  font-size: 15px;
}

.contact-image {
  width: 100%;
}

.contact-info-box {
  display: flex;
  gap: 2rem;
}

.contact-info {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border: 1px solid lightblue;
  outline: none;
}

.contact-info-text {
  padding: 1rem 2rem;
  width: 100%;
  height: 20rem;
  border: 1px solid lightblue;
  margin-bottom: 2rem;
  outline: none;
}

.contact-btn {
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 15px;
  border: none;
  background-color: var(--accent-color);
  color: var(--background-color);
  outline: none;
}
/* BLOG SECTION START  */
.blog {
  scroll-margin-top: 2rem;
  width: 100%;

  /* padding: 2rem; */
}
.blogTitleBox {
  padding-top: 6rem;
  background-color: var(--accent-color);
  width: 100%;
  margin-bottom: 0;
}
.blogTitle {
  color: var(--background-color);
  font-size: 3.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.blogText {
  color: var(--background-color);
  padding-bottom: 5rem;
  padding: 1rem 10rem;
  text-align: center;
  width: 100%;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.blog-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.blog-img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.blog-text {
  font-size: 1.6rem;
  font-weight: 200;
  font-family: var(--default-font);
  padding: 1rem;
}
.blog-title {
  font-size: 2rem;
  text-decoration: none;
  font-family: var(--heading-font);
  color: var(--default-color);
  transition: all 0.4s;
  padding: 1rem;
}
.blog-title:hover {
  color: var(--accent-color);
}

.blog-aurthor-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.blog-aurthur-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.blog-aurthur-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}
.blog-aurthur-text {
  font-family: var(--default-font);
  font-size: 1.4rem;
  font-weight: 200;
}

.fonto {
  width: 100%;
  margin-bottom: 2rem;
}
.fonto::file-selector-button {
  background-color: var(--accent-color);
  width: 20rem;
  height: 3rem;
  color: white;
  border: none;
}

.aur-img {
  width: 5rem;
  border-radius: 50%;
}

/* CONTACT SECTION START  */
.contact {
  scroll-margin-top: 8rem;
  width: 100%;
}
.contact-box {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 0;
  justify-content: center;
  width: 100%;
}

.contact-address {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--accent-color);
  border-style: solid hidden;
  padding: 3rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  border-radius: 5px;
}
.fill {
  background-color: var(--background-color);
}
.map {
  width: 100%;
  height: 30vh;
}
.contact-address-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
  background-color: color-mix(in srgb, var(--accent-color) 100%, white 15%);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: all 0.4s;
}

.contact-icon {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  color: var(--background-color);
  background-color: color-mix(in srgb, var(--accent-color) 100%, white 75%);
}
.contact-address-box .contact-icon:hover {
  color: var(--accent-color);
  background-color: var(--background-color);
}

.contact-name {
  font-size: 2rem;
  color: var(--background-color);
  font-family: var(--heading-font);
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-article {
  font-size: 15px;
  font-family: var(--default-font);
  color: var(--background-color);
}

.contact-image {
  width: 100%;
}

.contact-info-box {
  display: flex;
  gap: 2rem;
}

.contact-info {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  border: 1px solid lightblue;
  outline: none;
}

.contact-info-text {
  padding: 1rem 2rem;
  width: 100%;
  height: 20rem;
  border: 1px solid lightblue;
  margin-bottom: 2rem;
  outline: none;
}

.contact-btn {
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 15px;
  border: none;
  background-color: var(--accent-color);
  color: var(--background-color);
  outline: none;
}

/* FOOTER SECTION START  */
.footer {
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1.5fr;
  gap: 2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
}
.footLogo {
  color: var(--background-color);
  font-size: 25px;
  margin-bottom: 15px;
}
.footHeader {
  color: var(--background-color);
  font-size: 20px;
  margin-bottom: 1rem;
}
.footText {
  color: color-mix(in srgb, whitesmoke 90%, transparent 50%);
  font-weight: 200;
  font-family: var(--default-font);
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
  text-decoration: none;
  /* color: var(--default-color); */
}
.fis .footText {
  color: var(--background-color);
  font-weight: 400;
}
.fts {
  margin-bottom: 4rem;
}
.footLinkIcon {
  color: var(--accent-color);
}
.footBold {
  font-weight: 600;
}
.footIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.foot-icon {
  border: 1px solid
    color-mix(in srgb, var(--background-color) 100%, transparent 90%);
  padding: 1rem;
  border-radius: 50%;
  font-size: 18px;
  color: color-mix(in srgb, var(--background-color) 100%, transparent 90%);

  /* color: var(--default-color); */
  transition: 0.3s;
}
.foot-icon:hover {
  background-color: var(--accent-color);
  color: white;
  border: none;
}

/* PORTFOLIO */
.portfolio {
  margin: 10rem 0;
  scroll-margin-top: 5rem;
  width: 100%;
}
.tab-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 5rem 0;
}
.tab-list {
  font-family: var(--heading-font);
  color: var(--default-color);
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.5s;
}
.tab-component {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  transition: all 0.5s;
  bottom: 2rem;
}
.flat-list {
  transition: all ease-out 0.5s;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.flat-list:hover .tab-img {
  transform: scale(1.08);
}
.tab-img-box {
  overflow: hidden;
}
.tab-img {
  width: 100%;
  transition: all 0.4s;
}
.tab-text-box {
  padding: 2rem 1rem;
}
.apps {
  font-size: 18px;
  color: var(--heading-color);
  padding-bottom: 1rem;
}
.apps-text {
  font-size: 15px;
  color: #7b7b7b;
  font-weight: 500;
}
.tab-content {
  display: none;
}
.tab-component.show {
  display: grid;
}
.tab-button.show {
  color: var(--accent-color);
}
