@media (min-width: 1200px) {
  .box2 {
    transform: scale(1.1);
  }
}
@media (max-width: 1200px) {
  .padd-10 {
    padding: 2rem 10rem;
  }

  .hero {
    padding: 10rem 0 0 0;
    height: 160vh;
  }
  .hero-content {
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .hero-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    bottom: 2rem;
    z-index: 999;
  }
  .heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }
  .team-img-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-list-box-1 {
    margin-right: 0;
  }
  .serviceInfoBox {
    padding: 2rem;
    width: 100%;
  }
  .contact {
    padding: 2rem;
  }
}
@media (max-width: 1100px) {
  .navToggle {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 4rem;
    color: var(--background-color);
  }
  .close {
    display: none;
  }
  .nav .navList {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
  }

  .stick .navList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9rem;
    right: 5rem;
    width: 30rem;
    height: 80vh;
    border-radius: 1rem;
    z-index: 99999;
    background-color: var(--background-color);
  }
  .stick .navs {
    color: var(--nav-hover-color);
  }
  .stick .navs:hover {
    color: var(--accent-color);
  }
  .stick .open {
    display: none;
  }

  .stick .close {
    display: block;
  }
  .heroText {
    width: 75%;
  }

  .serviceInfoBox,
  .team-grid-box,
  .pricing-box,
  .contact-box {
    grid-template-columns: 1fr 1fr;
  }
  .contact-box {
    grid-template-columns: 1fr 1.5fr;
  }
}
@media (max-width: 1000px) {
  .about-box {
    grid-template-columns: 1fr;
  }
  .blog-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .tab-component {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-box {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1.5fr 1fr 1.2fr;
  }
}
@media (max-width: 950px) {
  .stats-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }
  .hero {
    height: 215dvh;
  }
  .ctaBoxe {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1.5fr 1.2fr 1.2fr;
    gap: 1.5rem;
  }
}

@media (max-width: 800px) {
  .blog-content {
    grid-template-columns: 1fr;
  }
  .serviceInfoBox,
  .team-grid-box,
  .pricing-box,
  .contact-box {
    grid-template-columns: 1fr;
  }
  .serviceInfo::before {
    bottom: 16.4rem;
  }

  .serviceInfo::after {
    bottom: 9rem;
    left: 21%;
  }
  .tab-component {
    grid-template-columns: 1fr;
  }
  .team-img-box {
    grid-template-columns: 1fr;
  }
  .footer {
    gap: 1rem;
  }
}
@media (max-width: 700px) {
  .padd-10 {
    padding: 1rem 2rem;
  }
  .navs {
    padding: 2rem 6rem;
  }
  .blogText {
    text-align: initial;
    padding: 1rem 5rem;
  }
  .mini-navs {
    padding: 0;
  }
  .hero {
    padding: 2rem;
    width: 100%;
  }
  .heroImg {
    width: 80%;
  }
  .hero-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;

    bottom: 0rem;
    z-index: 999;
  }

  .footer {
    grid-template-columns: 1.5fr 1fr;
  }
}
@media (max-width: 500px) {
  .hero {
    padding: 15rem 0 15rem 0;
    gap: 3rem;
    height: 210vh;
  }
  .portfolios {
    grid-template-columns: 1fr;
  }
  .cta {
    height: 60dvh;
  }
  .navs {
    padding: 2rem;
  }
  .blogText {
    text-align: initial;
    padding: 1rem 5rem;
  }
  .mini-navs {
    padding: 0;
  }
  .ctaBoxe {
    grid-template-columns: 1fr;
    text-align: center;
    height: 60dvh;
    width: 100%;
  }
  .ctaLink:link,
  .ctaLink:visited {
    margin: auto;
  }
  .heroImg {
    width: 50%;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-box {
    padding: 5rem 3rem;
  }
  .pulsating-play-btn {
    display: none;
  }
  .stats-box {
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: auto;
  }
}
@media (max-width: 400px) {
  .hero {
    height: 240dvh;
    padding-top: 5rem;
  }
  .heroBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .navs {
    padding: 0;
  }
  .blogText {
    text-align: initial;
    padding: 1rem 5rem;
  }
  .mini-navs {
    padding: 0;
  }
  .heroTitle {
    font-size: 4.5rem;
  }
  .heroSub {
    font-size: 1.6rem;
  }
  .heroPlayBox {
    display: flex;
  }
  .heroImg {
    width: 80%;
  }
  .accordionTitle {
    font-size: 14px;
  }
  .contact-address {
    padding-right: 1rem;
  }
  .team-box,
  .contact-info-box {
    flex-direction: column;
    text-align: center;
  }
  .accordionPosi {
    display: none;
  }
}
@media (max-width: 340px) {
  .hero {
    padding-top: 3rem;
  }
  .heroBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .heroPlayBox {
    display: flex;
  }
  .nbtn {
    display: none;
  }
  .heroTitle {
    font-size: 4rem;
  }
  .heroSub {
    font-size: 1.6rem;
  }
  .heroImg {
    width: 90%;
  }
  .news {
    padding-bottom: 10rem;
  }
  .news-btn-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }
}
